# PP3: Pandas

## Section 1: Getting and knowing your data

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

df = pd.read_csv(url, sep='|', index_col='user_id')

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = df

### Step 4. See the first 25 entries

In [ ]:
users[:25]

### Step 5. See the last 10 entries

In [ ]:
users.tail(10)

### Step 6. What is the number of observations in the dataset?

In [ ]:
users.shape[0]

In [ ]:
users.info()

### Step 7. What is the number of columns in the dataset?

In [ ]:
users.shape[1]

### Step 8. Print the name of all the columns.

In [ ]:
users.columns

### Step 9. How is the dataset indexed?

In [ ]:
users.index

### Step 10. What is the data type of each column?

In [ ]:
users.dtypes

### Step 11. Print only the occupation column

In [ ]:
users['occupation']

### Step 12. How many different occupations are in this dataset?

In [ ]:
users['occupation'].nunique()

### Step 13. What is the most frequent occupation?

In [ ]:
users['occupation'].value_counts().idxmax()

### Step 14. Summarize the DataFrame.

In [ ]:
users.info()

### Step 15. Summarize all the columns

In [ ]:
users.describe(include='all')

### Step 16. Summarize only the occupation column

In [ ]:
users['occupation'].describe()

### Step 17. What is the mean age of users?

In [ ]:
users['age'].mean()

### Step 18. What is the age with least occurrence?

In [ ]:
users['age'].value_counts().idxmin()

## Section 2: Filtering and Sorting

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
df = pd.read_csv(url)

### Step 3. Assign it to a variable called euro12.

In [ ]:
euro12 = df

In [ ]:
euro12.head()

### Step 4. Select only the Goal column.

In [ ]:
euro12['Goals']

### Step 5. How many team participated in the Euro2012?

In [ ]:
euro12['Team'].nunique()

### Step 6. What is the number of columns in the dataset?

In [ ]:
euro12.shape[1]

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [ ]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [ ]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

### Step 9. Calculate the mean Yellow Cards given per Team

In [ ]:
euro12.groupby('Team')['Yellow Cards'].mean()

### Step 10. Filter teams that scored more than 6 goals

In [ ]:
euro12[euro12['Goals'] > 6]

### Step 11. Select the teams that start with G

In [ ]:
euro12[euro12['Team'].str.startswith('G')]

### Step 12. Select the first 7 columns

In [ ]:
euro12.iloc[:, :7]

### Step 13. Select all columns except the last 3.

In [ ]:
euro12.iloc[:, :-3]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [ ]:
euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]

## Section 3: Grouping

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
df = pd.read_csv(url)

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks = df

In [ ]:
drinks.head()

### Step 4. Which continent drinks more beer on average?

In [ ]:
drinks.groupby('continent')['beer_servings'].mean().idxmax()

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
drinks.groupby('continent')['wine_servings'].describe()

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
drinks.groupby('continent').mean(numeric_only=True)

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:
drinks.groupby('continent').median(numeric_only=True)

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
df = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max']).reset_index()

In [ ]:
df

## Section 4: Apply

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
df = pd.read_csv(url)

### Step 3. Assign it to a variable called crime.

In [ ]:
crime = df

In [ ]:
crime.head()

### Step 4. What is the type of the columns?

In [ ]:
crime.dtypes

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [ ]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
crime.dtypes

### Step 6. Set the Year column as the index of the dataframe

In [ ]:
crime = crime.set_index('Year')
crime.head()

### Step 7. Delete the Total column

In [ ]:
crime = crime.drop('Total', axis=1)
crime.head()

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [ ]:
crime['Decade'] = (crime.index.year // 10) * 10

decade_grouped = crime.groupby('Decade').agg({
    'Population': 'mean',
    'Violent': 'sum',
    'Property': 'sum',
    'Murder': 'sum',
    'Forcible_Rape': 'sum',
    'Robbery': 'sum',
    'Aggravated_assault': 'sum',
    'Burglary': 'sum',
    'Larceny_Theft': 'sum',
    'Vehicle_Theft': 'sum'
})
decade_grouped

### Step 9. What is the most dangerous decade to live in the US?

In [ ]:
decade_grouped['Total_Crime'] = decade_grouped['Violent'] + decade_grouped['Property']
print(decade_grouped['Total_Crime'].idxmax())

## Section 5: Merge

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Create the 3 DataFrames based on the following raw data

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [ ]:
data1 = pd.DataFrame(raw_data_1)
data2 = pd.DataFrame(raw_data_2)
data3 = pd.DataFrame(raw_data_3)

### Step 4. Join the two dataframes along rows and assign all_data

In [ ]:
all_data = pd.concat([data1, data2], ignore_index=True)
all_data

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [ ]:
all_data_col = pd.concat([data1, data2], axis=1)
all_data_col

### Step 6. Print data3

In [ ]:
print(data3)

### Step 7. Merge all_data and data3 along the subject_id value

In [ ]:
pd.merge(all_data, data3, on='subject_id')

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [ ]:
pd.merge(data1, data2, on='subject_id')

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [ ]:
pd.merge(data1, data2, on='subject_id', how='outer')

## Section 6: Stats

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data"
df = pd.read_csv(url, sep=r"\s+")

In [ ]:
df.head()

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [ ]:
data = df
data['Yr'] = data['Yr'].apply(lambda x: 1900 + x if x > 20 else 2000 + x)

data = data.rename(columns={'Yr': 'year', 'Mo': 'month', 'Dy': 'day'})

data['date'] = pd.to_datetime(data[['year', 'month', 'day']])

data = data.set_index('date')
data = data.drop(['year', 'month', 'day'], axis=1)

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [ ]:
def fix_year(dt):
    if dt.year > 2020:
        return dt.replace(year=dt.year - 100)
    return dt

data.index = data.index.map(fix_year)

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [ ]:
data.index = pd.to_datetime(data.index)
data.index.dtype

In [ ]:
import pandas.api.types as ptypes

ptypes.is_datetime64_ns_dtype(data.index)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [ ]:
data.isnull().sum()

### Step 7. Compute how many non-missing values there are in total.

In [ ]:
print(data.notnull().sum().sum())

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
print(data.stack().mean())

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [ ]:
loc_stats = data.agg(['min', 'max', 'mean', 'std'])
loc_stats

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [ ]:
day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)
day_stats.head()

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
data[data.index.month == 1].mean()

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
data.resample('YE').mean()

### Step 13. Downsample the record to a monthly frequency for each location.

In [ ]:
data.resample('ME').mean()

### Step 14. Downsample the record to a weekly frequency for each location.

In [ ]:
data.resample('W').mean()

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [ ]:
weekly_stats = data.resample('W').agg(['min', 'max', 'mean', 'std'])
weekly_stats.head(52)

## Section 7: Visualization

### Introduction:

This exercise is based on the titanic Disaster dataset avaiable at [Kaggle](https://www.kaggle.com/c/titanic).  
To know more about the variables check [here](https://www.kaggle.com/c/titanic/data)


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv)

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv'
df = pd.read_csv(url)

### Step 3. Assign it to a variable titanic

In [ ]:
titanic = df

In [ ]:
titanic.head()

### Step 4. Set PassengerId as the index

In [ ]:
titanic = titanic.set_index('PassengerId')

### Step 5. Create a pie chart presenting the male/female proportion

In [ ]:
titanic['Sex'].value_counts().plot.pie(autopct='%1.1f%%', figsize=(6,6), ylabel='', title='Male/Female Proportion')
plt.show()

### Step 6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

In [ ]:
colors = {'male': 'blue', 'female': 'red'}
plt.figure(figsize=(8,6))
for gender, color in colors.items():
    subset = titanic[titanic['Sex'] == gender]
    plt.scatter(subset['Age'], subset['Fare'], c=color, label=gender, alpha=0.5)
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Fare Paid vs Age by Gender')
plt.legend()
plt.show()

### Step 7. How many people survived?

In [ ]:
print(titanic['Survived'].sum())

### Step 8. Create a histogram with the Fare payed

In [ ]:
titanic['Fare'].plot.hist(bins=30, figsize=(8,6), title='Distribution of Fare')
plt.xlabel('Fare')
plt.show()

### BONUS: Create your own question and answer it.

In [ ]:
# What is the average age of survivors vs non-survivors?
titanic.groupby('Survived')['Age'].mean()

## Section 8: Creating Series and DataFrames

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:
data = {
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type': ['grass', 'fire', 'water', 'bug'],
    'hp': [45, 39, 44, 45],
    'evolution': ['yes', 'yes', 'yes', 'no'],
    'pokedex': [1, 4, 7, 10]
}

### Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(data)
pokemon.head()

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [ ]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [ ]:
pokemon['place'] = ['forest', 'mountain', 'lake', 'forest']
pokemon

### Step 6. Present the type of each column

In [ ]:
print(pokemon.dtypes)

### BONUS: Create your own question and answer it.

In [ ]:
# How many Pokémon have ‘yes’ for evolution?
pokemon['evolution'].value_counts()

## Section: 9 Time Series

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv"
df = pd.read_csv(url)

### Step 3. Assign it to a variable apple

In [ ]:
apple = df
apple.head()

### Step 4.  Check out the type of the columns

In [ ]:
apple.dtypes

### Step 5. Transform the Date column as a datetime type

In [ ]:
apple['Date'] = pd.to_datetime(apple['Date'])
apple.dtypes

### Step 6.  Set the date as the index

In [ ]:
apple = apple.set_index('Date')
apple.head()

### Step 7.  Is there any duplicate dates?

In [ ]:
print(apple.index.duplicated().any())

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [ ]:
apple = apple.sort_index()
apple.head()

### Step 9. Get the last business day of each month

In [ ]:
apple.resample('BME').last().head()

### Step 10.  What is the difference in days between the first day and the oldest

In [ ]:
(apple.index[-1] - apple.index[0]).days

### Step 11.  How many months in the data we have?

In [ ]:
apple.resample('ME').size().shape[0]

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(13.5, 9))
apple['Adj Close'].plot(title='Apple Adj Close Price Over Time')
plt.xlabel('Date')
plt.ylabel('Adjusted Close')
plt.show()

## Section 10: Deleting

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
df = pd.read_csv(url, header=None)
df.head()

### Step 3. Assign it to a variable called wine

In [ ]:
wine = df

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
cols_to_drop = [0, 3, 6, 8, 10, 12, 13]
wine = wine.drop(wine.columns[cols_to_drop], axis=1)
wine.head()

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = [
    'alcohol',
    'malic_acid',
    'alcalinity_of_ash',
    'magnesium',
    'flavanoids',
    'proanthocyanins',
    'hue'
]
wine.head()

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine.loc[:2, 'alcohol'] = np.nan
wine.head()

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.loc[2:3, 'magnesium'] = np.nan
wine.head()

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine['alcohol'] = wine['alcohol'].fillna(10)
wine['magnesium'] = wine['magnesium'].fillna(100)
wine.head()

### Step 9. Count the number of missing values

In [ ]:
print(wine.isna().sum().sum())

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
rand_idx = np.random.choice(wine.index[:10], size=10, replace=False)
print(rand_idx)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
wine.loc[rand_idx] = np.nan
wine.head(15)

### Step 12.  How many missing values do we have?

In [ ]:
print(wine.isna().sum().sum())

### Step 13. Delete the rows that contain missing values

In [ ]:
wine = wine.dropna()
wine.head()

### Step 14. Print only the non-null values in alcohol

In [ ]:
print(wine['alcohol'].dropna())

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine = wine.reset_index(drop=True)
wine.head(15)